
<nav class="navbar">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <div class="logo"><img src="spudify2.png" width="75"></div>
    <ul class="nav-links">
        <li><a href="./index.html" data-i18n="home">Accueil</a></li>
        <li><a href="./connexion.html" data-i18n="login">Connexion</a></li>
        <li><a href="./creation-compte.html" data-i18n="create_account">Créer un compte</a></li>
        <li><a onclick="changeLanguage('en')">🌍 English</a></li>
        <li><a onclick="changeLanguage('fr')">🌍 Français</a></li>
        <li><a id="dark-mode-toggle" onclick="toggleDarkMode()">🌙</a></li>
    </ul>

    <div class="search-container">
        <input type="text" id="search" placeholder="Rechercher...">
        <button type="submit" id="search-btn">
            <img src="search-icon.png" alt="Search">
        </button>
    </div>
<script>"script.js"</script>
</nav>


