input {
    padding: 10px;
    font-size: 16px;
}

button {
    font-size: 16px;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding-top: 150px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
    margin: 0;
    text-align: center; 
    background-color: white;
    color: black;
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

.navbar.dark-mode {
    background-color: #333;
}

.navbar {
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;  
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000; 
}

h1, p {
    margin: 10px 0; 
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffcc00;
}


.content {
    margin-top: 80px; 
    text-align: center;
    padding: 50px;
}


.search-container {
    display: flex; 
    align-items: center; 
    background: white;
    border-radius: 20px;
    padding: 5px;
    border: 1px solid #ccc;
}

.search-container input {
    border: none;
    outline: none;
    padding: 8px 12px;
    border-radius: 20px;
    width: 200px; 
    font-size: 16px;
}

.search-container button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px; 
}

.search-container button img {
    width: 20px;
    height: 20px;
}

a {
    cursor: pointer;
}

#signup-form,
#login-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 300px;
    margin: 50px;
    font-family: Arial, sans-serif;
}

#signup-form label,
#login-form label {
    font-weight: bold;
    margin-bottom: 4px;
}

#signup-form input,
#signup-form button, 
#login-form input, 
#login-form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#signup-form button,
#login-form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#signup-form button:hover,
#login-form button:hover {
    background-color: #0056b3;
}